body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px;
}

.e-404 {
    font-size: 3rem;
    color: red;
    font-weight: bolder;
}

.castle {
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}